@use "../../styles/_variables.scss" as v;

:root {
  --gradient-start: #{v.$gradient-start};
  --gradient-end: #{v.$gradient-end};
}

.profile-picture {
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  background-size: 200% 200%;
  transition: background-position 200ms ease-in-out;
  &:hover {
    background-position: right center;
  }
}